.nav-meicons {
  position: absolute;
  left: -100%;
  background-color: #333333;
  width: 100%;
  height: 100vh;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  z-index: 100;
  border-right: 5px solid #262626; }
  .nav-meicons #menu-trigger-close {
    font-size: 2em;
    padding: 5px;
    color: #666666;
    cursor: pointer;
    -webkit-transition: all .3s ease;
    transition: all .3s ease; }
    .nav-meicons #menu-trigger-close:hover {
      color: #fff; }
  .nav-meicons .site-menu__menu {
    width: 100%; }
    .nav-meicons .site-menu__menu .site-menu__item .site-menu__link {
      display: block;
      padding: 15px 0;
      color: #fff;
      position: relative;
      text-transform: uppercase; }
      .nav-meicons .site-menu__menu .site-menu__item .site-menu__link:hover {
        background-color: rgba(34, 34, 34, 0.3); }
      .nav-meicons .site-menu__menu .site-menu__item .site-menu__link::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.2);
        height: 3px;
        width: 0;
        -webkit-transition: all .5s ease;
        transition: all .5s ease; }
      .nav-meicons .site-menu__menu .site-menu__item .site-menu__link:hover::after {
        width: 50%; }
      .nav-meicons .site-menu__menu .site-menu__item .site-menu__link span {
        font-size: 1.5em;
        color: #fff;
        margin: 0 15px 0 5px; }
  .nav-meicons .site-menu-social {
    margin-top: 25px;
    padding-left: 10px; }
    .nav-meicons .site-menu-social__title {
      color: #fff;
      margin-bottom: 30px;
      position: relative;
      font-weight: 500; }
      .nav-meicons .site-menu-social__title::before, .nav-meicons .site-menu-social__title::after {
        content: '';
        position: absolute;
        left: 0;
        height: 0px;
        border-bottom: solid 1px rgba(255, 255, 255, 0.3); }
      .nav-meicons .site-menu-social__title::before {
        bottom: -10px;
        width: 35%; }
      .nav-meicons .site-menu-social__title::after {
        bottom: -13px;
        width: 15%; }
    .nav-meicons .site-menu-social .site-menu__link--social {
      -webkit-box-sizing: content-box;
              box-sizing: content-box;
      text-decoration: none;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      margin-right: 10px;
      margin-bottom: 10px;
      border: solid 2px rgba(255, 255, 255, 0.2);
      display: inline-block;
      padding: 5px;
      -webkit-transition: all .4s ease;
      transition: all .4s ease; }
      .nav-meicons .site-menu-social .site-menu__link--social:hover {
        border-color: rgba(255, 255, 255, 0.5);
        border-style: dashed; }
      .nav-meicons .site-menu-social .site-menu__link--social span {
        color: #fff;
        height: 40px;
        width: 40px;
        line-height: 40px;
        font-size: 1.3em;
        text-align: center;
        border-radius: 50%; }
      .nav-meicons .site-menu-social .site-menu__link--social span[class~="fa-facebook"], .nav-meicons .site-menu-social .site-menu__link--social span[class~="fa-facebook-f"] {
        background-color: #3B5998; }
        .nav-meicons .site-menu-social .site-menu__link--social span[class~="fa-facebook"]:hover, .nav-meicons .site-menu-social .site-menu__link--social span[class~="fa-facebook-f"]:hover {
          background-color: #344e86; }
      .nav-meicons .site-menu-social .site-menu__link--social span[class~="fa-twitter"], .nav-meicons .site-menu-social .site-menu__link--social span[class~="fa-twitter-square"] {
        background-color: #1DA1F2; }
        .nav-meicons .site-menu-social .site-menu__link--social span[class~="fa-twitter"]:hover, .nav-meicons .site-menu-social .site-menu__link--social span[class~="fa-twitter-square"]:hover {
          background-color: #0d95e8; }
      .nav-meicons .site-menu-social .site-menu__link--social span[class~="fa-youtube"], .nav-meicons .site-menu-social .site-menu__link--social span[class~="fa-youtube-square"] {
        background-color: #FF0000; }
        .nav-meicons .site-menu-social .site-menu__link--social span[class~="fa-youtube"]:hover, .nav-meicons .site-menu-social .site-menu__link--social span[class~="fa-youtube-square"]:hover {
          background-color: #e60000; }
      .nav-meicons .site-menu-social .site-menu__link--social span[class~="fa-instagram"] {
        background-color: #DF3A65; }
        .nav-meicons .site-menu-social .site-menu__link--social span[class~="fa-instagram"]:hover {
          background-color: #db2454; }
      .nav-meicons .site-menu-social .site-menu__link--social span[class~="fa-vimeo"], .nav-meicons .site-menu-social .site-menu__link--social span[class~="fa-vimeo-square"], .nav-meicons .site-menu-social .site-menu__link--social span[class~="fa-vimeo-v"] {
        background-color: #1AB7EA; }
        .nav-meicons .site-menu-social .site-menu__link--social span[class~="fa-vimeo"]:hover, .nav-meicons .site-menu-social .site-menu__link--social span[class~="fa-vimeo-square"]:hover, .nav-meicons .site-menu-social .site-menu__link--social span[class~="fa-vimeo-v"]:hover {
          background-color: #14a7d7; }
      .nav-meicons .site-menu-social .site-menu__link--social span[class~="fa-pinterest"], .nav-meicons .site-menu-social .site-menu__link--social span[class~="fa-pinterest-square"], .nav-meicons .site-menu-social .site-menu__link--social span[class~="fa-pinterest-p"] {
        background-color: #BD081C; }
        .nav-meicons .site-menu-social .site-menu__link--social span[class~="fa-pinterest"]:hover, .nav-meicons .site-menu-social .site-menu__link--social span[class~="fa-pinterest-square"]:hover, .nav-meicons .site-menu-social .site-menu__link--social span[class~="fa-pinterest-p"]:hover {
          background-color: #a50718; }
      .nav-meicons .site-menu-social .site-menu__link--social span[class~="fa-google-plus"], .nav-meicons .site-menu-social .site-menu__link--social span[class~="fa-google-plus-square"], .nav-meicons .site-menu-social .site-menu__link--social span[class~="fa-google-plus-g"] {
        background-color: #DC473A; }
        .nav-meicons .site-menu-social .site-menu__link--social span[class~="fa-google-plus"]:hover, .nav-meicons .site-menu-social .site-menu__link--social span[class~="fa-google-plus-square"]:hover, .nav-meicons .site-menu-social .site-menu__link--social span[class~="fa-google-plus-g"]:hover {
          background-color: #d63426; }

.nav-open {
  left: 0;
  width: 100%; }

.nav-open-tablet {
  left: 0;
  width: 350px; }

/*# sourceMappingURL=menu-meicons.css.map */